
.material-icons.md-21 { font-size: 25px; }
.material-icons.md-40 { font-size: 45px; }
.material-icons.md-28 { font-size: 35px; }
.material-icons.orange600 { color: #FB8C00; }

span {
    visibility: hidden;
}

table {
    margin-top: 60px;
    padding: 30px;
}